body { font-family:Arial, Helvetica, sans-serif; color:#2c2c2c; }
h1, h2, h3, h4 { font-weight:normal; line-height:1.4em; margin:0; }
ul { padding:0; margin:0; }
	
h2 { font-size:20px; }
a:visited { color:inherit; }
input[type="text"] { border-radius:2px; border:1px solid #cfcfcf; width:100%; box-sizing:border-box; padding:4px 8px; font-size:12px; margin-bottom:20px; }
input[type="search"]:focus { outline:none; }
button { background:#00b7ff; border:1px solid #9e9e9e; border-radius:2px; color:#fff; font-weight:bold; width:100%; font-size:14px; padding:15px; text-shadow: 0px -1px 1px rgba(0,0,0,0.3); }


header { background:url('/img/header-background.png') 0 0 repeat; overflow:hidden; }
header .brand { float:left; width:162px; height:35px; display:block; text-indent:-9999px; background:url('/img/logo.png') no-repeat; margin:6px 80px 0 10px; padding:0; }
header nav { float:left; }
header a, header a:visited { color:#bfbfbf; text-decoration:none; font-size:14px; border-top:4px solid transparent; display:block; float:left; padding:18px 0 18px 0; margin-right:20px; font-weight:bold; }
header a.active { border-top-color:#58b9df; color:#f2f2f2; }

header .upload { background:url('/img/upload.png') no-repeat 100% 50%; padding-right:50px; float:right; }
header .upload.active { border-top-color:transparent; }
header #header-search { margin-top:14px; float:right; }
header #header-search input[type="search"] { border:1px solid #424951; height:27px; padding:2px 5px; width:160px;}
header #header-search input[type="submit"] { border:none; background:url('/img/search-button.png') #fff no-repeat 50% 50%; text-indent:-9999px; height:31px; width:31px; margin-left:-5px; }

.sub-nav { background:#f2f2f2; overflow:hidden; border-bottom:1px solid #e8e8e8; padding:30px; }
.sub-nav li { float:left; list-style:none; padding:0 10px 3px 0; border-bottom:1px solid #e2e2e2; }
.sub-nav li a { color:#4f5862; text-decoration:none; font-weight:bold; padding-bottom:3px; }	
.sub-nav li a.active,
.sub-nav li a:hover { border-bottom:3px solid #95d814; }
.sub-nav {}

.projects-list { width:1190px; margin:30px auto; overflow:hidden; }
.projects-list .month-title { color:#cfcfcf; font-size:14px; border-bottom:1px solid #e8e8e8; padding:50px 0 10px; margin-bottom:20px; }
.projects-list ul { padding:0; overflow:hidden; margin-left:60px; }
.project-thumb { float:left; list-style:none; margin:0 60px 20px 0; position:relative; }
/*.project-thumb:nth-of-type(5n) { margin-right:0; }*/
.project-thumb a { text-decoration:none; display:block; }
.project-thumb .project-title { font-size:12px; color:#505050; font-weight:normal; }
.project-thumb img { width:180px; height:auto; overflow:hidden; }
.project-thumb .thumb { height:180px; overflow:hidden; border:1px solid #e9e9e9; }
.project-thumb h3 { margin-top:5px; }
.project-thumb .delete { display:none; position:absolute; cursor:pointer; top:1px; right:1px; text-align:center; width:20px; height:20px; background:#fff; }
.project-thumb:hover .delete { display:block; }

#overlay { position:absolute; width:100%; height:100%; top:0; left:0; background:rgba(44,44,44,0.8); }
#overlay.dark { background:#252525; }

.project { width:100%; margin:0 auto; background:#252525; top: 0; position: absolute; height:100%; }
.project h1 { display:none; }
.project .delete { width:50%; }
.project .edit { cursor:pointer; display: block; padding:17px 20px; position: absolute; bottom:0; z-index:1; font-size:13px; border-left:1px solid #fbfbfb; box-shadow: -1px 0px 0px 0px #dedede; right:0; }


.project footer { font-size:13px; border-top:1px #e8e8e8; position:fixed; bottom:0; height:50px; background:#f2f2f2; width:100%; left:0; }
.project footer .img-nav { text-align:center; margin:0 auto; border-top:1px solid #dedede; }
.project footer .img-nav .vcslider-status { color:#b6bbbd; display:inline-block; padding:18px 30px; border-right:1px solid #dedede; border-left:1px solid #fbfbfb; box-shadow: -1px 0px 0px 0px #dedede; }
.project footer .back { float:left; background:url('/img/back-grid.png') 0 55% no-repeat; padding:20px 25px 15px; display:inline-block; margin:0 0 0 20px; text-decoration:none; border-right:1px solid #dedede; box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);}
.project footer .vcslider-previous, 
.project footer .vcslider-next { text-decoration:none; cursor:pointer; display:inline-block; padding-top:18px; padding-bottom:18px; }
.project footer .vcslider-previous { border-left:1px solid #fbfbfb; padding-left:35px; padding-right:20px; box-shadow: -1px 0px 0px 0px #dedede; }
.project footer .vcslider-next { border-right:1px solid #dedede; border-left:1px solid #fbfbfb; padding-right:35px; padding-left:20px; box-shadow: 1px 0px 0px 0px rgba(255, 255, 255, 1);}
.project footer .vcslider-previous:hover, 
.project footer .vcslider-next:hover { text-decoration:underline; }

#vcslider-home { position:relative; overflow:hidden; max-width: 1190px; margin: 0 auto;  }
#vcslider-home .vcslider-viewport ul { list-style: none; width: 2000%; margin: 0; overflow: hidden; }
#vcslider-home .vcslider-viewport li { float: left; width: 100%; max-width: 1190px; position: relative;}
#vcslider-home .vcslider-viewport li img { max-width: 1190px; display:block; margin:0 auto; }
#vcslider-home .vcslider-viewport .deleteImg { color:#fff; position:absolute; top:10px; right:0; }




.overlay-module { width:330px; background:#fff; margin:90px auto 0; padding:30px; border:1px solid #3a3a3a; border-radius:2px; }
.overlay-module button { margin-top:10px; }
.overlay-module .close { text-align:right; margin-bottom:20px; display:block; }


